body {
    background-image: url('/Images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}


h1 {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

/*.instructions-text {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 32rem;
    margin-top: 4rem;
}*/


.calculator {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    height: 24rem;
    width: 23rem;
    margin-left: 32rem;
    justify-content: center;

}


.calculator-form input {
    border: solid black;
    border-radius: 0.5rem;
    background-color: gray;
    color: white;
    height: 3.5rem;
    width: 13rem;
    margin: 1rem 2rem 1rem 4rem;
    font-size: 2.5rem;
    /*   transition: all .2s ease-in-out;*/
    text-align: left;
    pointer-events: none;
}

#numbers {
    padding: 1rem 4rem 0rem 4rem;
}


#symbols-row {
    padding: 0rem 4rem 0rem 4rem;
}

#operation-row {
    margin-top: 0.20rem;
}

.grid-item {
    border: 0.10rem solid black;
    padding: 1rem;
}

.clear-symbol {
    border: 0.15rem solid black;
    padding: 1rem;
}

.dot-symbol {
    border: 0.10rem solid black;
    padding: 1rem;
}

.equals-symbol {
    border: 0.15rem solid red;
    height: 4rem;
    width: 8.6rem;
    margin-top: 0.1rem;
}

.plus-symbol {
    border: 0.10rem solid black;
    width: 3rem;
    height: 3rem;
}

.minus-symbol {
    border: 0.10rem solid black;
    width: 3rem;
    height: 3rem;
}

.mal-symbol {
    border: 0.10rem solid black;
    width: 3rem;
    height: 3rem;
}

.divide-symbol {
    border: 0.10rem solid black;
    width: 3rem;
    height: 3rem;
}