body {
    background-image: url('/Images/Background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}


h1 {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
}

/*.instructions-text {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 32rem;
    margin-top: 4rem;
}*/


.calculator {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
    height: 24rem;
    width: 23rem;
    margin-left: 32rem;
    justify-content: center;

}


.calculator-form input {
    border: solid black;
    border-radius: 0.5rem;
    background-color: gray;
    color: white;
    height: 3.5rem;
    width: 13rem;
    margin: 1rem 2rem 1rem 4rem;
    font-size: 2.5rem;
    /*   transition: all .2s ease-in-out;*/
    text-align: left;
    pointer-events: none;
}

.calculator-form input:focus {
    border: solid red;
}

#buttons {
    padding: 1rem 4rem 0rem 4rem;
}


.grid-item {
    border: 0.10rem solid black;
    padding: 1rem;
}

.clear-symbol {
    border: 0.15rem solid black;
    padding: 1rem;
}

.equals-symbol {
    border: 0.15rem solid red;
    height: 3.2rem;
    width: 8.3rem;
    margin-top: 0.1rem;
}


/*Phones.*/
@media (min-width:320px) and (max-width:480px) {
    h1 {
        margin-bottom: 0.5rem;
    }

    .calculator {
        margin-left: 1.5rem;
    }
}

@media (min-width:481px) and (max-width:799px) {
    .calculator {
        margin-left: 0.5rem;
    }
}

/*iPad.*/
@media (min-width:800px) and (max-width:900px) {
    .calculator {
        margin-left: 13.5rem;
    }
}